
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/g2_test">G2 Test</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/g_test">G Test</a>
      </li>
  </ul>