<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') %>
<body>
    <%- include('layouts/navbar') %>
    <h1>Welcome to G Test Portal</h1>
    <%- include('layouts/footer') %>
</body>
</html>